.navbar {
  background-color: rgb(11, 33, 73);
  border-bottom: solid #ffffff6d 0.1px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  overflow: hidden;
  float: left;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;

  .navbar-elements {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;

    .navbar-left-elements {
      display: flex;
      align-items: center;
    }
    .navbar-search {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 32px;
      margin-right: 32px;
      width: 200px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 100%;
    }

    .search-input::placeholder {
      color: #ffffff;
      opacity: 1;
    }

    .search-input::after {
      border: none;
    }

    .search-input {
      background-color: rgba(31, 51, 88, 0);
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      color: #ffffff;
      font-family: inherit;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      border: none;
      background-color: rgba(255, 255, 255, 0.37);
      padding: 10px;
      height: 40px;

      display: flex;

      border-radius: 4px;
    }

    .svg-khan {
      color: #ffffff;
    }
    .navbar-user-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
    }

    .user-options-button {
      -webkit-box-align: center;
      -ms-flex-align: center;
      cursor: pointer;
      outline: none;
      -webkit-align-items: center;
      align-items: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 100%;
      color: #ffffff;
      font-family: inherit;
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      padding-left: 1em;
    }
  }
}
